img{
    margin: 5px;
     height: 100px;width: 140px;
     border: 2px dotted red;
     border-radius: 20px;
}
p{
    text-align: center; 
    font-size: 30px;
    text-decoration: underline;
    color: brown;
    border: 6px dotted ; color: black;
    width: 200px;
    background-color: chocolate;
    padding: 15px;
    border-radius: 25px;
    word-wrap: break-word;
    
}
div{
    border: 10px dashed color(srgb rgb(247, 17, 17) green blue);
    display: flex ; 
    flex-wrap: wrap; 
    gap: 25px;
    justify-content: center;
}
body{
   background-color: beige;
    
}
p{
    transition: all 0.2s ease;
}

p:hover{
  background-color: bisque;
    transform: rotate(90deg);scale: 0.7;
}